#user-menu {
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

#menu-sel {
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    transform: translate(-30px, 10px);
    border-radius: 5px;
    width: max-content;
}

#menu-sel hr {
    margin: 0;
}

.menu-opt {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
}
.menu-opt:hover {
    background-color: grey;
}

#home {
    font-size: 2.5rem;
    font-weight: 900;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
